/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {
  h1 {
    width: 60vw;
    margin: 10vh 0;
  }
  /* ======= ABOUT ======= */

  main.about {
    padding: 5vw;
    section {
      margin: 5vh 15vh 5vh;
      flex-direction: column-reverse;
      img {
        width: 100%;
      }
    }
  }

  /* ======= LONGER & EXPERIENCES ======= */

  main.simpleLayout {
    padding-top: 5vh;
    margin: 10vh 0;
    .simpleLayout-img {
      position: relative;
      width: 100%;
    }
    .simpleLayout-txt {
      margin-inline: 20vw;
    }
  }

  /* ======= INSPIRATION ======= */

  main.inspiration {
    video {
      width: 600px;
      height: 400px;
    }
    padding-right: 5vw;
    .inspiration-gallery {
      article:not(article:first-of-type) {
        h2 {
          font-size: 1.5em;
        }
      }
    }
  }
  /* ======= SHOP ======= */

  main.shop {
    // .shop-img {
    //   display: none;
    // }
    .shop-txt {
      img {
        width: 80%;
      }
    }
  }
}
