// COLORS
$background-color: #2e2e2e;
$header-nav: #867772;
$headline-color: #ebccc2;
$text-color: #717171;
$line-color: #424242;
$circle-color-outline: #fcfcfc;
$links-color: #969696;
$circle-color-selected: #616161;
$circle-color: #484848;

//Farben: /  / rgb(234, 204, 194) / / #fff / rgb(115, 115, 115)
