/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  h1 {
    width: 60vw;
    margin: 10vh 0;
  }
  /* ======= ABOUT ======= */
  main.about {
    padding: 5vw;
  }
  main.about section {
    width: 100%;
    margin: 5vh 15vh 5vh;
    flex-direction: column-reverse;
  }
  main.about section img {
    width: 100%;
  }
  /* ======= LONGER & EXPERIENCES ======= */
  main.simpleLayout {
    padding-top: 5vh;
    margin: 10vh 0;
    flex-direction: column;
  }
  main.simpleLayout .simpleLayout-img {
    width: 100%;
  }
  main.simpleLayout .simpleLayout-txt {
    margin-inline: 20vw;
  }
  /* ======= INSPIRATION ======= */
  main.inspiration video {
    width: 600px;
    height: 400px;
  }
  main.inspiration .inspiration-gallery article:not(article:first-of-type) h2 {
    font-size: 1.5em;
  }
  /* ======= SHOP ======= */
  main.shop .shop-img {
    display: none;
  }
  main.shop .shop-txt {
    margin-top: 10vh;
  }
  main.shop .shop-txt img {
    width: 80%;
  }
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

body {
  background-color: #2e2e2e;
  min-width: 768px;
}

/* ======= Global Styles ======= */
a {
  text-decoration: none;
  color: #867772;
  font-size: 0.8rem;
  transition: color 0.3s ease-in;
}
a:hover {
  color: #fcfcfc;
}

h1,
h2,
h3 {
  color: #ebccc2;
}

h1,
h2 {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-variation-settings: "wght" 200;
}

h1 {
  margin-bottom: 15vh;
  width: 500px;
}

h2 {
  margin: 1.5vh 0 2vh;
}

p {
  color: #717171;
  margin-block: 3vh 1vh;
  line-height: 1.5rem;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ebccc2;
  border-radius: 3px;
}

/* ======= HEADER ======= */
header {
  padding: 4vh 2vw;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: min-content/1fr 2fr;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  /* ======= NAVBAR ======= */
}
header .logo {
  margin-left: 2vw;
}
header .links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4vw;
  padding-right: 6vw;
}
header .links a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
header .links .socials a:not(a:first-of-type) {
  margin-left: 1vw;
}
header aside a {
  display: block;
  width: fit-content;
  margin: 10vh 0vw;
}
header aside a span {
  display: inline-block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  border: 1px solid #484848;
  margin-right: 2vw;
  position: relative;
}
header aside a span::before {
  content: " ";
  position: absolute;
  top: 20px;
  left: 7px;
  width: 1px;
  height: 7vh;
  background-color: #424242;
}
header aside .active {
  color: #fcfcfc;
  position: relative;
}
header aside .active::after {
  content: " ";
  position: absolute;
  left: -4px;
  top: -4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #fcfcfc;
}

/* ======= MAIN ======= */
main {
  padding-top: 20vh;
}

/* ======= ABOUT ======= */
main.about {
  padding-inline: 5vw;
}
main.about h1 {
  margin-left: 20vw;
}
main.about img {
  width: 100%;
}
main.about section {
  margin: 15vh 15vh 25vh;
  display: flex;
  align-items: center;
  gap: 5vw;
}
main.about section img {
  width: 50%;
  height: 30%;
}
main.about section article {
  width: 60%;
}

/* ======= LONGER & EXPERIENCES ======= */
main.simpleLayout {
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 4vw;
}
main.simpleLayout .simpleLayout-img {
  position: relative;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100vh;
}
main.simpleLayout .simpleLayout-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main.simpleLayout .simpleLayout-txt {
  margin-inline: auto 5vw;
  width: 465px;
}

/* ======= INSPIRATION ======= */
main.inspiration {
  padding: 15vh 20vw 5vw;
}
main.inspiration .inspiration-gallery {
  display: grid;
  grid-template: 0.9fr 1fr 1fr/1fr 1fr;
  align-items: center;
}
main.inspiration .inspiration-gallery article:not(article:first-of-type) {
  padding: 0 1.5vw;
}
main.inspiration .inspiration-gallery .inspiration-top {
  grid-column: 1/3;
}
main.inspiration .inspiration-gallery .inspiration-top span {
  color: #737373;
  border: 1px solid #fff;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  padding: 4px 8px;
  margin-right: 1vh;
}
main.inspiration .inspiration-gallery img {
  width: 100%;
}

/* ======= SHOP ======= */
main.shop {
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 4vw;
}
main.shop .shop-img {
  position: relative;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100vh;
}
main.shop .shop-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
main.shop .shop-txt {
  margin-inline: auto 5vw;
  width: fit-content;
  text-align: center;
}
main.shop .shop-txt h2 {
  font-size: 2rem;
}
main.shop .shop-txthover {
  cursor: pointer;
}

/* ======= CONTACT ======= */
.contact h1 {
  margin-bottom: 0vh;
}
.contact h3 {
  margin-block: 2vh 1vh;
}
.contact label {
  color: #717171;
  display: block;
  margin-block: 1vh;
}
.contact input,
.contact textarea {
  padding-block: 1vh;
  width: 100%;
}
.contact button {
  margin: 1vh 0;
}
.contact .newsletter {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: min-content;
  align-items: center;
  gap: 1vw;
  margin-bottom: 4vh;
}
.contact .newsletter h3 {
  grid-column: 1/3;
}
.contact .newsletter button {
  display: inline;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
